/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
/* Подключение вариативного шрифта Inter с нужными весами */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2');
  font-weight: 100 900; /* диапазон весов вариативного шрифта */
  font-style: normal;
  font-display: swap;
}

/* Подключение акцентного шрифта Press Start 2P */
@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
