/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

:root.theme-dark {
  --bg-color: #000;
  --border-color: #00cc14;
  --accent-color: #00cc14;
  --linear-gradient-first: #007f0c;
  --linear-gradient-second: #004306;
  --mix-blend-color: #00cc14;
  --stroke-color: #000;
  --header-weight: 785;
  --text-weight: 465;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --mix-blend-color: #00cc14;
    --border-color: #00cc14;
    --accent-color: #00cc14;
    --linear-gradient-first: #007f0c;
    --linear-gradient-second: #004306;
    --stroke-color: #000;
    --header-weight: 785;
    --text-weight: 465;
  }
}

:root.theme-light {
  --border-color: #000;
  --bg-color: #d3d3d3;
  --linear-gradient-first: #e7e7e7;
  --linear-gradient-second: #1a1a1a;
  --accent-color: #000;
  --mix-blend-color: #fff;
  --border-color: #000;
  --stroke-color: #fff;
  --header-weight: 700;
  --text-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: #000;
    --bg-color: #d3d3d3;
    --linear-gradient-first: #e7e7e7;
    --mix-blend-color: #fff;
    --linear-gradient-second: #1a1a1a;
    --accent-color: #000;
    --border-color: #000;
    --stroke-color: #fff;
    --header-weight: 700;
    --text-weight: 400;
  }
}