/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* Основные переменные шрифтов */
:root {
  --font-primary: 'Inter', system-ui, sans-serif;
  --font-accent: 'PressStart2P', monospace;

  /* Толщины для вариативного Inter */
  --font-weight-text: 400;
  --font-weight-heading: 700;
}

.header {
  width: var(--header-max-width);
  margin: 0 auto;
  padding: clamp(1rem, 2vw, 2rem);
  box-sizing: border-box;
}

/* Для мобильных при ширине экрана меньше 480px растягиваем на всю ширину */
@media (max-width: 480px) {
  .header {
    width: 100vw;
    padding: clamp(0.5rem, 3vw, 1rem);
  }
}

/* Логотип резиновый */
.header__logo {
  width: clamp(80px, 10vw, 150px);
  height: auto;
}

/* Заголовок в шапке резиновый */
.header__title {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
  margin-left: clamp(0.5rem, 2vw, 1.5rem);
  white-space: nowrap;
}
